.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
  flex: 1;
  & h1 {
    display: flex;
    justify-self: flex-end;
    width: 100%;
    color: pink;
  }
 
}
.data {
  flex: 1;
  padding: 0;
  margin-left: 20px;
  display:flex;
  flex-direction: column;
  & img {
    width: 400px;
    height: 400px;
  }
}
.text_pic {
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about {
  display: flex;
  color: rgb(255, 255, 255);
  width: 300px;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  & p{
    display: flex;
    align-items: center;
    background-color: white;
    background-color:pink;
    width: 100%;
    min-height: 30px;
    padding: 5px;
  }

}

@media screen and (max-width: 445px){
  .wrapper {
    display: none;
  }
}

@media screen and (max-width: 650px){
  .wrapper{
    flex-direction: column;
  }
  .about {
    flex-direction: column;
    & p {
      flex-wrap: wrap;
      margin: 0;
    }
    .text_pic {
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .text_pic > img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
}