.wrapper {
  display: flex;
  margin: 5px;
  flex: 1;
  justify-content: center;
  background-color:rgb(234, 250, 250);
  overflow-y: auto;
}

@media screen and (max-width: 445px){
  .wrapper {
    display: none;
  }
}