.main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  background-color: rgb(234, 250, 250);
  border: 5px solid white;
  overflow-y: auto;
}

@media screen and (max-width: 445px){
  .main {
    display: none;
  }
}