html, body, .wrraper {
  margin: 0;
  max-height: 100vh;
}

.wrraper {
  display: flex;
  padding: 0;
  flex: 1;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: pink;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    width: 20px;
  }
}

.link {
  text-decoration: none;
  user-select: none;
  color: rgb(255, 255, 255);
  font-size: large;
  
}

.main {
  width: 100%;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 445px) {
  .main{
    flex-direction: column;
  }
  .pagination {
    display:none;
  }
}