.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  padding: 0;
  margin: 0;
  background-color: pink;
  overflow-y: auto;
    li {
      list-style: none;
      width: 90%;
      border: 1px solid rgb(255, 255, 255);
      color: white;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 5px;
      cursor: pointer;
      user-select: none;
  }
}

@media screen and (max-width: 445px){
  .wrapper {
    border: none;
    flex-basis:20%;
    flex-shrink: 1;
    li {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}