.wrapper {
  min-width:20%;
  max-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 1;
  width: 200px;
  background-color: pink;
  min-height: 100%;
  border: 5px solid white;
  overflow-y: auto;
    li {
      list-style: none;
      width: 90%;
      border: 1px solid rgb(255, 255, 255);
      color: white;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 5px;
      cursor: pointer;
      user-select: none;
  }
}

@media screen and (max-width: 355px){
  .wrapper {
    border: none;
    min-width: 30% ;
  }
}